/* =========
Views
======== */

#views-hero{
    padding: 90px 16px 32px;
    text-align: center;

    @include md{
        padding: 90px 8vw 32px;
    }
    h1{
        margin-bottom: 32px;
    }

    p{
        color: var(--blue);
   
        @include xl{
    